.aboutMe {

	background-color: #476580;
	border-radius: 0px;
	margin-bottom: 20px;
}

.aboutMe .text {
	color:white;
	font-size: 28px;
	transition: transform .8s ease-in;
}

.aboutMe:hover .text {

	transform: translateX(2%);

}

h1{

    color: white;
	 font-weight: 600;
}