<div class = "aboutMe jumbotron">
	<h1 class="display-4">About Me</h1>
	<hr class="my-4 bg-light">
	<p class = "text"> Ever since I built my first computer, at the age of fifteen, I have been absolutely hooked to technology. While for some this may be just another job or a good way to make money, for me it is about the challenges that come with programming. The ability to solve real world problems, as well as refining existing solutions to problems, with just a couple strokes of the keyboard (If you're lucky) is an amazing thing and the reason why I can't walk away. What started off as just a simple "Hello World" tutorial has quickly turned into a life-long passion. 
	</p>
</div>
