<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cameron Norman's Developer Porfolio <span class="computer-icon">💻</span></a>
    <div class="navbar-nav navbar-custom">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Skills</a>
      <a class="nav-item nav-link" href="#">Projects</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Resume</a>
      <a class="nav-item nav-link" href="#">Contact Me</a>
    </div>
  </div>
</nav>