.skills {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 196px;

}

.jumbotron.customJumbotron{
    background: #1A252F;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
}

.skills img {
	  width: 100px;
    height: 100px;
}

.skills .caption {
  
  display: block;
  font-weight: 300;
  font-size: 20px;
  color: white;
}

h1{

    color: white;
	font-weight: 600;
}