<div class= "jumbotron customJumbotron">
	<h1 class="display-4">Relevant Skills</h1>
  	<hr class="my-4 bg-light">
      <div class ="skills">
      	<img src="assets/HTML5.png" alt="HTML5 Logo">
        <span class="caption">HTML 5</span>
      </div>

      <div class ="skills">
      	<img src="assets/css3.png" alt="CSS3 Logo">
        <span class="caption">CSS 3</span>
      </div>

      <div class ="skills">
      	<img src="assets/bs.png" alt="BootStrap Logo">
        <span class="caption">Bootstrap</span>'
      </div>

      <div class ="skills">
      	<img src="assets/python.png" alt="Python Logo">
        <span class="caption">Python</span>
      </div>

      <div class ="skills">
      	<img src="assets/Git.png" alt="Git Logo">
        <span class="caption">Git CLI</span>
      </div>

      <div class ="skills">
      	<img src="assets/Angular.png" alt="Angular Logo">
        <span class="caption">Angular</span>
      </div>

      <div class ="skills">
      	<img src="assets/django.png" alt="Django Logo">
        <span class="caption">Django</span>
      </div>

      <div class ="skills">
      	<img src="assets/NodeJs.png" alt="Node Js Logo">
        <span class="caption">Node JS</span>
      </div>

      <div class ="skills">
        <img src="assets/Terminal.png" alt="Terminal Js Logo">
        <span class="caption">Linux CLI</span>
      </div>
</div>